#social {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.042);
	border: 1px solid rgba(0, 0, 0, 0.075);
	clear: both;
	font-size: 0.813em;
	margin-bottom: 1.375em;
	overflow: hidden;
	padding: 0.688em 0;
}
.no-rgba #social {
	background: transparent url(../images/html-ie.jpg) left top repeat;
	border: 1px solid #D7D4CE;
}
#social div {
	float: left;
	padding: 0 1.5%;
	width: 30.333333%
}
#social div:nth-child(2) {
	background: url(../images/social-divider.png) left top repeat-y, url(../images/social-divider.png) right top repeat-y;
	padding: 0 2.25%;
	width: 27.333333%;
	margin-top:0.85em;
}
.contact #social div:nth-child(2) {
	margin-top:0;
}
#social div:nth-child(3) {
	padding: 0 2.25%;
}
#social p {
	margin-bottom: 0;
}
#social .networks ul {
	margin: 0.688em 0;
}
#social .networks ul li {
	background: none;
	padding: 0.688em 0 0.688em 30px;
}
#social .networks .twitter {
	background: transparent url(../images/twitter-icon.png) left center no-repeat;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
#social .networks .twitter a {
	color: #0098C5;
	border-bottom: none;
}
#social .networks .twitter a:hover {
	border-bottom: 1px dashed #0098C5;
}
#social .networks .facebook {
	background: transparent url(../images/facebook-icon.png) left center no-repeat;
}
#social .networks .facebook a {
	color: #446191;
	border-bottom: none;
}
#social .networks .facebook a:hover {
	border-bottom: 1px dashed #446191;
}
#social .networks .linkedin {
	background: transparent url(../images/linkedin-icon.png) left center no-repeat;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
#social .networks .linkedin a {
	color: #1F76B6;
	border-bottom: none;
}
#social .networks .linkedin a:hover {
	border-bottom: 1px dashed #1F76B6;
}
#social .networks .youtube {
	background: transparent url(../images/youtube-icon.png) left center no-repeat;
}
#social .networks .youtube a {
	color: #CF3427;
	border-bottom: none;
}
#social .networks .youtube a:hover {
	border-bottom: 1px dashed #CF3427;
}
#social .newsletter p {
	margin-bottom: 0.688em;
}

@media screen and (max-width: 1050px), (max-device-width: 1024px) {
	#social .networks ul li {
		-moz-background-size: auto auto;
		-webkit-background-size: auto auto;
		-o-background-size: auto auto;
		background-size: auto auto;
		padding: 0.688em 0 0.688em 30px;
	}
}

@media screen and (max-width: 680px), (max-device-width: 480px) {
	#social div {
		float: left;
		padding: 0 2% 1.375em;
		width: 96%}
	#social div:nth-child(2) {
		background: none;
		margin-bottom: 1.375em;
		width: 94%}
	#social div:nth-child(2) li {
		-moz-background-size: 12px auto;
		-webkit-background-size: 12px auto;
		-o-background-size: 12px auto;
		background-size: 12px auto;
		padding-left: 28px;
	}
}